@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #28211C;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
html {
    font-size: 62.5%;
}

body {

    margin: 0 auto;
}

section {
  // 後で消す
  // height: 650px;
  // outline: 1px solid #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    // 後で消す
    // height: 650px;
    // outline: 1px solid #000;
}

#about h2, #service h2, #work h2 {
    text-align: center;
}

#about h2, #service h2, #work h2, #contact h2 {
    padding-top: 1rem;
}

// 変数
    $fs18: 1.8rem;
    $fs16: 1.6rem;

// トップページ
// ヘッダー
#header {
    .header_wrap {
// 後で消す
      //  outline: 1px solid #000;
       position: relative;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem; 

          li {
              margin: 0 8rem 0 8rem;

                a {
                  font-size: $fs18;
                  display: block;
                }
          }

      .logo {
        width: 8rem;
      }
      }
      .main_visual_text {

          .main_text {
              color: #AB8438;
              font-size: 5rem;
              font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
                "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
                "ＭＳ 明朝", serif;
                line-height: 1.6;
                letter-spacing: 0.05em;
                padding:12rem 0 16rem 25rem;
            }
      }

      .main_visual1 {
        position: absolute;
        top: 0;
        right: 0;
        // z-index: -1;

          img {
            width: 400px;
          }
      }

      .main_visual2 {
        position: absolute;
        top: 11rem;
        left: 5.21%;
        // z-index: -1;
      }

      .scrolldown{
      position:absolute;
      left:50%;
      bottom:10px;
      height:50px;
    }

    .scrolldown span{
      position: absolute;
      left:-20px;
      top: -10px;
      color: #000;
      font-size: 1rem;
      letter-spacing: 0.05em;
    }

    .scrolldown::after{
      content: "";
      position: absolute;
      top: 0;
      width: 1px;
      height: 30px;
      background: #000;
      animation: pathmove 1.4s ease-in-out infinite;
      opacity:0;
    }

    @keyframes pathmove{
      0%{
        height:0;
        top:0;
        opacity: 0;
      }
      30%{
        height:30px;
        opacity: 1;
      }
      100%{
        height:0;
        top:50px;
        opacity: 0;
      }
    }
  }
}

  // About
  #about {
    .about_sec {
      background:url(images/About_back2_pc.svg) no-repeat center/cover;
      height: 65rem;
    
      .container {
        position: relative;
        margin-bottom: 9.6rem;
        .about_back {
          position: absolute;
          top: -10rem;
          z-index:  -1;
        }
        .about_h2 {
          img {
            position: relative;
          }
        }

        .about_box {
          display: flex;
          justify-content: center;
          margin-top: -6rem;

        .about_right {
          position: relative;
          p {
            font-size: $fs16;
            line-height: 2.1;
            letter-spacing: 0.05em;
            background-color: #fff;
            margin-top: 7rem;
            padding: 3rem 5.5rem 6rem 5rem;
            box-shadow:39px 0px 39px -30px rgba(0, 0, 0, 0.2) inset;
          }
  
          .text_bold {
            font-weight: bold;
          }
          .readmore_btn1 {
            position: absolute;
            right: 5rem;
            bottom: 6rem;
            a:hover {
              opacity: 0.8;
            }
            }
          }
        }
      }
      }
    }
  // Service
  #service {
  .service_sec {
    margin-bottom: 10.8rem;

    ul {
        display: flex;
        justify-content: space-between;
        margin-top: 6rem;

        li {
          width: 30%;
          text-align: center;
          
          .service_icon {
            img {
              // display: inline-block;
              height: 10rem;
          }
        }
          .service_title {
            font-size: 2.8rem;
            margin:6rem 0  6rem 0;
          }

          .service_text {
            font-size: $fs16;
            line-height: 1.6;
            letter-spacing: 0.05em;
            text-align: justify;
          }
        }
    }
  }
}

  // Work

  #work {
    // 後で消す
    // height: 650px;
    // outline: 1px solid #000;
  .work_sec {
    margin-bottom: 12.2rem;

    .work_list {
      ul {
        display: flex;
        margin-top: 2rem;
        li {
          width: 20%;
          img {
            width: 100%;
          }
        }
      }
    }
   .readmore_btn2 {
     margin-top: 2rem;
     text-align: center;

     a:hover {
      opacity: 0.8;
    }
   }
  }
}

// フッター
#contact {
  .contact_wrap {
   background: url(images/Contact_back_pc.png) no-repeat bottom /cover;
   height: 65rem;
   z-index: -1;
  
  .contact_box {
    display: flex;
    justify-content: space-between;

    .contact_left {
        .contact_text {
          font-size: $fs16;
          line-height: 1.6;
          letter-spacing: 0.05em;
          margin: 4.5rem 0 8rem 0;
        }
      }

    .contact_right {
      margin-top: 10rem;

         .c_form {
          width: 60rem;
             .c_form_box {
                display: flex;
                justify-content: space-between;
              }

            label {
                font-size: $fs16;
                margin-top: 2rem;
              }

            input[type="text"],
            textarea {
            border: 1px solid #D8D8D8;
            background-color: #fff;
            width: 40rem;
            height: 3rem;
            margin-top: 2rem;
            }
            textarea {
              height:  15rem;
          } 
          }
      }
      
      }
      .fs_icons {
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        font-size: 3.6rem;
        color:#1B333F;
            .instagram {
              margin-right: 2rem;
            }
            .twitter {
              margin-left: 2rem;
            }

      }
    }
    }

// 下層Aboutページ
.about_page_sec {

background: url(images/About2_back_pc.jpg)no-repeat center /cover;
  .container {
    margin-bottom: 13rem;
    .profile_left {
      p {
      img {
        box-shadow: 50px 43px 93px -17px #999999;
        border-radius: 0px;
      }
    }
  }

.about_page_h2 {
text-align: center;
margin: 8rem 0 7.5rem 0;
}

.about_page_text {
  text-align: center;
  font-size: 3.6rem;
  font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
                "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
                "ＭＳ 明朝", serif;
  line-height: 2;              
  letter-spacing: 0.1em;
  margin-bottom: 12.7rem;
}

.profile_box {
  display: flex;
  justify-content: space-between;

.profile_right {
  width: 51.25%;

  .profile_text1 {
    letter-spacing: 0.05em;
  }

  .profile_name {
    font-size: 3.6rem;
    margin-bottom: 3.5rem;
  }

  .profile_title {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }

  .profile_text {
    font-size: $fs16;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 3.5rem;
  }
  
  .profile_box2 {
    display: flex;
    border-top: 1px solid #28211C;

    .profile_title1 {
      padding-top: 2rem;
    }

  }

  .profile_box3 {
    padding-right: 2rem;
    border-right: 1px solid #28211C;
    ul {
      li {
        p {
          margin-bottom: 1.6rem;
        }
      }
    }
  }

  .profile_box4 {
    padding-left: 2rem;

    ul {
      li {
        p {
          font-size: $fs16;
          margin-bottom: 1.6rem;
        }
      }
    }
  }
}
  }
}
.c_form2 {
  text-align: center;

  .c_form2_text {
  font-size: 2.4rem;
  }
  .contact_btn {
    margin: 5rem 0 10.1rem 0;
  }
}
}
// 下層Workページ
.work_page_sec {

  .container {
    .work_page_h2 {
      text-align: center;
      margin: 8rem 0 7.5rem 0;
    }

    .work_title {
      font-size: 3.6rem;
      margin: 1.5rem 0 2.5rem 0;
    }

    .work_text {
      font-size: $fs16;
      line-height: 1.6;
    }

  }
  .c_form2 {
    text-align: center;
  
    .c_form2_text {
    font-size: 2.4rem;
    }
    .contact_btn {
      margin: 5rem 0 10.1rem 0;
    }
  }
}